include LICENSE.txt *.py README.md
recursive-include locale *.po 
recursive-include renamebyreplace *.mo *.py *.png
recursive-include man *.1
recursive-include doc ttyrec/*.gif *.py Doxyfile index.dox
prune __pycache__
global-exclude *.pyc
